<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
	xmlns:gap   = "http://phonegap.com/ns/1.0"
	id          = "org.pacis2015.pacis2015"
	versionCode = "1.0.0" 
	version     = "1.0.0">
	
	<preference name="phonegap-version" value="3.7.0" />
	<preference name="target-device" value="handset" />

	<name>PACIS 2015</name>

	<description>
		The official PACIS 2015 app
	</description>

	<author href="http://www.pacis2015.org" email="pacis2015@gmail.com">
		PACIS 2015
	</author>

	<icon src="icon.png" />
	<icon src="appicon57.png" gap:platform="ios" width="57" height="57" />
	<icon src="appicon72.png" gap:platform="ios" width="72" height="72" />

	
	<feature name="http://api.phonegap.com/1.0/network" />
	<feature name="http://api.phonegap.com/1.0/file" />
	
	<gap:plugin name="org.apache.cordova.file" version="1.3.1" />
	<gap:plugin name="org.apache.cordova.file-transfer" version="0.4.6" />
	<gap:plugin name="io.github.pwlin.cordova.plugins.fileopener2" version="1.0.11" />

</widget>