<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets?"
	xmlns:gap   = "http://phonegap.com/ns/1.0?"
	id          = "org.pacis2015.pacis2015"
	versionCode = "1.0.0" 
	version     = "1.0.0"
>

	<!-- versionCode is optional and Android only -->

	<name>PACIS 2015</name>

	<description>
		The official PACIS 2015 app
	</description>

	<author href="http://www.pacis2015.org" email="pacis2015@gmail.com">
		PACIS 2015
	</author>

	<icon src="www/res/icon.png" />
		
	<icon src="www/res/icon.png" gap:platform="ios" width="180" height="180" />
	<icon src="www/res/icon.png" gap:platform="ios" width="60" height="60" />
	<icon src="www/res/icon.png" gap:platform="ios" width="120" height="120" />
	<icon src="www/res/icon.png" gap:platform="ios" width="76" height="76" />
	<icon src="www/res/icon.png" gap:platform="ios" width="152" height="152" />
	<icon src="www/res/icon.png" gap:platform="ios" width="29" height="29" />
	<icon src="www/res/icon.png" gap:platform="ios" width="58" height="58" />
	<icon src="www/res/icon.png" gap:platform="ios" width="40" height="40" />
	<icon src="www/res/icon.png" gap:platform="ios" width="80" height="80" />
	<icon src="www/res/icon.png" gap:platform="ios" width="57" height="57" />
	<icon src="www/res/icon.png" gap:platform="ios" width="114" height="114" />
	<icon src="www/res/icon.png" gap:platform="ios" width="72" height="72" />
	<icon src="www/res/icon.png" gap:platform="ios" width="144" height="144" />
	<icon src="www/res/icon.png" gap:platform="ios" width="29" height="29" />
	<icon src="www/res/icon.png" gap:platform="ios" width="58" height="58" />
	<icon src="www/res/icon.png" gap:platform="ios" width="50" height="50" />
	<icon src="www/res/icon.png" gap:platform="ios" width="100" height="100" />

	<icon src="www/res/icon.png" gap:platform="android" gap:qualifier="ldpi" />
	<icon src="www/res/icon.png" gap:platform="android" gap:qualifier="mdpi" />
	<icon src="www/res/icon.png" gap:platform="android" gap:qualifier="hdpi" />
	<icon src="www/res/icon.png" gap:platform="android" gap:qualifier="xhdpi" />
	<icon src="www/res/icon.png" gap:platform="android" gap:qualifier="xxhdpi" />
	<icon src="www/res/icon.png" gap:platform="android" gap:qualifier="fr-xxhdpi" />

</widget>