<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
	xmlns:gap   = "http://phonegap.com/ns/1.0"
	id          = "org.pacis2015.pacis2015"
	versionCode = "1.0.0" 
	version     = "1.0.0">

	<name>PACIS 2015</name>

	<description>
		The official PACIS 2015 app
	</description>

	<author href="http://www.pacis2015.org" email="pacis2015@gmail.com">
		PACIS 2015
	</author>

	<icon src="icon.png" />
	
	<gap:plugin name="org.apache.cordova.file-transfer" version="0.4.6" />

</widget>